$colors: (
    primary: rgb(29, 78, 172),
    primary-light: rgb(65, 114, 204),
    accent: rgb(29, 180, 39)
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

$box-shadow: 1px 2px 20px 1px rgba(16, 14, 39, 0.75);



